# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Build output
dist/
.esm/
.cjs/

# next.js
/.next/
/out/

# TypeScript build cache
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development
.env.production

# IDE and system files
.vscode/
.idea/
.DS_Store
.yalc
.next